@page "/"
@inject AppData appData

<PageTitle>Boards</PageTitle>

<div class="boards">
    @foreach (var index in appData.blazorBoardData.Boards.Select((e, i) => i))
    {
        <TaskBoard @bind-BoardData="appData.blazorBoardData.Boards[index]"
                   dragHelper="@dragHelper"
                   globalDragStart="@( task => dragHelper.dragStart(appData.blazorBoardData.Boards[index], task) )"
                   globalDragDrop="@( e => dragHelper.drop(appData.blazorBoardData.Boards[index], e.insertAtBoardPosition))"
                   globalDragEnd="@( e => dragHelper.dragEnd() )"
                   globalDragEnter="@( i => dragHelper.dragEnter(appData.blazorBoardData.Boards[index], i) )"
                   globalDragLeave="@( () => dragHelper.dragLeave() )" />
    }
</div>

@code {
    private DragHelper dragHelper = new();
}
