@page "/labels"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject Common.Models.AppData appData
@using System.Collections.ObjectModel
@using System.Collections.Specialized
@using System.ComponentModel

<PageTitle>Labels</PageTitle>

<h3>Labels</h3>

<div class="labels">
    @foreach (var index in appData.LabelItems.Select((e, i) => i))
    {
        <input type="text" class="label-element label-text editable-input" style="background: @appData.LabelItems[index].Background; color: @appData.LabelItems[index].Color" @bind-value="appData.LabelItems[index].Title" />
        <input type="color" class="label-element label-background editable-input" style="background: @appData.LabelItems[index].Background" @bind-value="appData.LabelItems[index].Background" />
        <input type="color" class="label-element label-color editable-input" style="background: @appData.LabelItems[index].Background" @bind-value="appData.LabelItems[index].Color" />
        <button class="btn label-element label-delete" style="background: @appData.LabelItems[index].Background; color: @appData.LabelItems[index].Color" @onclick="() => DeleteLabel(index)">x</button>
    }
</div>

<button class="btn btn-primary" @onclick="AddLabel">+</button>

@code {
    private void AddLabel()
    {
        var random = new Random();
        Label newLabel = new Label("Label", "#000000", $"#{random.Next(0, 256).ToString("X2")}{random.Next(0, 256).ToString("X2")}{random.Next(0, 256).ToString("X2")}");
        newLabel.PropertyChanged += appData.ChangedHandler;
        appData.LabelItems.Add(newLabel);
    }

    private void DeleteLabel(int index)
    {
        appData.LabelItems.RemoveAt(index);
    }
}
